BLOSC/build*
BZIP2/autom4te.cache
BZIP2/bin/reconfigure.local
BZIP2/bin/reconfigure.system
BZIP2/build*
BZIP2/buildat
LZ4/autom4te.cache
LZ4/bin/reconfigure.local
LZ4/bin/reconfigure.system
LZ4/build
/CMakeUserPresets.json
/CMakeUserPresets.json.test
